*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
main{
    max-width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg,rgb(253, 229, 90),rgb(196, 93, 170),rgb(132, 83, 158));
}
.glass{
    width: 70%;
    height: 80%;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.308),rgba(255, 255, 255, 0.13));
    border: 2px solid rgba(255, 255, 255, 0.123);
    position: absolute;
    top: 10%;
    left: 15%;
    border-radius: 2rem;
    box-shadow: 8px 8px 14px rgba(47, 82, 99, 0.774);

    z-index: 5;
    backdrop-filter: blur(0.3rem);
}
.top{
    width: 50%;
    height: 10%;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.308),rgba(255, 255, 255, 0.13));
    border: 2px solid rgba(255, 255, 255, 0.123);
    position: absolute;
    top: 5%;
    left:25% ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 2px 2px 15px grey;

    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: rgba(83, 39, 39, 0.911);
    
    z-index: 6;
    backdrop-filter: blur(0.2rem);
}

.left{
    width: 40%;
    height: 50%;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.308),rgba(255, 255, 255, 0.13));
    border: 2px solid rgba(255, 255, 255, 0.123);
    position: absolute;
    top:25% ;
    left: 10%;
    padding: 2rem 5rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 10px rgba(102, 77, 81, 0.452);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 7;
    backdrop-filter: blur(0.1rem);
}
.left h2{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: 600;
}
.left button{
    width: 30%;
    height: 10%;
    border: none;
    border-radius: 1rem;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.308),rgba(255, 255, 255, 0.13));
    border: 2px solid rgba(255, 255, 255, 0.123);
    box-shadow: 2px 2px 4px rgba(102, 77, 81, 0.452);
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;

    backdrop-filter: blur(0.2rem);
}


.logo img{
    width: 50%;
    height: 50%;

    position: absolute;
    top: 30%;
    right: 0;
    cursor: pointer;
}

/* circles */
.circle{
    background: linear-gradient(45deg,rgba(175, 175, 185, 0.226),rgba(240, 158, 158, 0.856));
    backdrop-filter: blur(0.2rem);
}
#circle-1-e{
    width: 20rem;
    height: 20rem;
    border-radius: 20rem;
    position: absolute;
    top: 30%;
    right: 20%;
    opacity: 0.5;
}
#circle-2-e{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    position: absolute;
    bottom: 20%;
    right: 5%;
}
#circle-3-e{
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    position: absolute;
    top: 5%;
    left: 10%;
    background: linear-gradient(45deg,rgba(255, 255, 255, 0.651),rgba(240, 158, 158, 0.295));
}

/* copyright */
.copyright{
    position: absolute;
    bottom: 3%;
    left: 3%;
}

/* react logo */
.react img{
    width:16%;
    height:30%;
    right: 7rem;
    top: 50%;
}