*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #1d061a,#290424);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}
.main .card{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
    /* background: red; */
}
.main .card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 1rem;
    transform: skewX(30deg);
    transition: 0.5s;
}
.main .card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 1rem;
    transform: skewX(30deg);
    transition: 0.5s;
    filter: blur(30px);
}
.main .card:hover:before,
.main .card:hover:after{
    /* width: 100%; */
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}
.main .card:nth-child(1):before,
.main .card:nth-child(1):after{
    background: linear-gradient(315deg,#ffbc00,#ff0058);  /* both nice colors */
}
.main .card:nth-child(2):before,
.main .card:nth-child(2):after{
    background: linear-gradient(315deg,#03a9f4,#ff0058);  /* both nice colors */
}
.main .card:nth-child(3):before,
.main .card:nth-child(3):after{
    background: linear-gradient(315deg,#4dff03,#00d0ff);  /* both nice colors */
}

.main .card span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
    /* background: red; */
}
.main .card span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.3rem);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite alternate;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.main .card:hover span::before{
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
.main .card span::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.3rem);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite alternate;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    animation-delay: -1s;
}

.main .card:hover span::after{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.main .card .content{
    z-index: 1;
    position: relative;
    left: 0;
    padding: 20px 40px ;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    backdrop-filter: blur(0.3rem);
    transition: 0.5s;
    color: white;
    /* display: none; */
}
.main .card:hover .content{
    left: -25px;
    padding: 60px 40px;
}
.main .card .content h2{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
}
.main .card .content p{
    font-size: 1.1rem;
    font-family: sans-serif;
    margin-bottom: 1rem;
    line-height: 1.4rem;
}
.main .card .content a{
    display: inline-block;
    font-size: 1.1rem;
    color: #111;
    background: #fff;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
    margin-top: 0.2rem;
}