#section-7{
    background: black;
}
#section-6 h1{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
}
#section-7 h2{
    color: white;
    font-size: 3rem;
    z-index: 5;

    mix-blend-mode: overlay;
}
#section-7 video{
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}