*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.box{
    height: 100vh;
    width: 100vw;

    display: grid;
    place-content: center;
    /* place-items: center; */
}
#box1{
    background: #565656;
    color: wheat;
    font-size: 3rem;
}
#box2{
    background: #d3d3d3;
}
#box3{
    background: #565656;
    color: white;
    gap: 1rem;
}
ol{
    margin-left: 3rem;
}