body{
    background: linear-gradient(45deg,rgba(255, 0, 0, 0.164),rgba(0, 0, 255, 0.301)),url("./images/taylor-brandon-3HmP1kOdACU-unsplash.jpg") no-repeat center center / cover;
    height: 100vh;
    width: 100vw;
    transition: all 2s linear;
}
#bg{
    background: transparent;
    font-family: cursive;
    border-radius: 1rem;
    padding: 0.3rem;
    color: white;
    border-color: wheat;
    transition: all 0.3s linear;
}
#bg:hover{
    background: rgba(255, 0, 0, 0.178);
    border-radius: 1.2rem;
    padding: 0.3rem;
    color: white;
    border-color: white;
}
#navbar{
    background-color: transparent;
}
.logo,
.searchbar,
#menu{
    display: none;
}
/* footer{
    position: absolute;
    bottom: 0px;
    background-color: transparent;
    margin: 0px 45%;
} */
#navlist ul li a{
    font-family: cursive;
}

/* form */
.form{
    height: 86vh;
    display: grid;
    place-content: center;
    place-items: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
form label{
    font-family: cursive;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}
form input{
    font-family: cursive;
    font-size: 1.2rem;
    color: black;
    background-color: transparent;
    border-radius: 1rem;
    text-align: center;
}
form textarea{
    font-family: sans-serif;
    font-size: 1.2rem;
    color: gold;
    background-color: transparent;
    border-radius: 1rem;
}

form button{
    background-color: transparent;
    border-color: white;
    border-width: 3px;
    margin: 20px auto;
    color: white;
    font-size: 1.3rem;
    width: 20vw;
    border-radius: 0.5rem;
    transition: all 0.5s linear;
}
form button:hover{
    background-color: white;
    border-color: white;
    border-width: 3px;
    margin: 20px auto;
    color: goldenrod;
    font-size: 1.3rem;
    width: 20vw;
    border-radius: 1rem;
}